.adminportal__container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   width: 100%;
//   height: 100%;

//   @include media(desktop) {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     align-items: flex-start;
//     width: 100%;
//     padding: 2em;
//     border: 1px solid green;
//   }
  &-window {
    width: 100%;
    height: 100vh;
    padding: 0;
  }
  &-customers-container {
    // border: 1px solid $color--brinput;

    &-header {
      border: 1px solid black;
    }

    &-main {
      //     width: auto;
      //   border: 1px solid $color--brinput;
      &-table {
        font-size: 0.8em;
        scroll-behavior: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        border-collapse: collapse;

        thead,
        tbody {
          width: auto;
        }

        th {
          background: $color--bgtable;
        }

        &-regular {
          min-width: 10em;
          max-width: auto;
          padding: 1em;
          border: 0.2px solid $color--brinput;
        }

        &-email {
          min-width: 20em;
          max-width: 25em;
          padding: 1em;
        }
      }
    }
  }
}
