.checkout__container {
  width: 100%;
  padding-top: 3em;
  @include media(desktop) {
    padding-top: 0;
  }

  &-forms {
    padding: 0 0.5em;
    @include media(desktop) {
      padding: 2em 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  input,
  label {
    height: 3.5em;
    width: 100%;
  }

  h2 {
    padding: 1em 0;
    font-size: 1.3em;
    @include media(desktop) {
      font-size: 1.5em;
    }
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
    @include media(desktop) {
      margin: 2em 3em;
    }

    &-billing {
      display: flex;
      flex-direction: column;
      margin: 2em 0;
      border: 1px solid pink;
    }

    &-shipping {
      margin: 2em 0;
      border: 1px solid pink;

      &-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        font-size: 1em;
        margin: 1em 0 3em 0;
        @include media(desktop) {
          width: 40em;
          margin: 1em 0 0 0;
        }

        input {
          height: 1em;
          width: 2em;
          margin-right: 1em;
        }

        label {
          h2 {
            padding: 0.4em 0;
          }
        }
      }
    }

    &-names {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      @include media(sm-tablet) {
        justify-content: space-between;
      }
      @include media(lg-tablet) {
        justify-content: space-between;
        width: 35em;
      }
      @include media(desktop) {
        justify-content: space-between;
        width: 35em;
      }

      &-firstname {
        margin-right: 1em;
        @include media(sm-tablet) {
          width: 50%;
        }
        @include media(lg-tablet) {
          width: 50%;
        }
        @include media(desktop) {
          width: 50%;
        }
      }

      &-lastname {
        @include media(sm-tablet) {
          width: 50%;
        }
        @include media(lg-tablet) {
          width: 50%;
        }
        @include media(desktop) {
          width: 50%;
        }
      }
    }

    &-otherinfo {
      display: flex;
      flex-direction: column;
      label {
        padding-top: 1em;
      }
      @include media(lg-tablet) {
        width: 35em;
      }
      @include media(desktop) {
        width: 40em;
      }
    }
  }

  &-recap {
    margin: 0 0.5em;
    padding: 0 0.5em;

    &-header {
      border-bottom: 1px solid $color--brinput;
    }

    &-table {
      border: 1px solid $color--brinput;
      width: 100%;

      th {
        border-bottom: 1px solid $color--brinput;
        text-align: start;
      }

      th,
      td {
        padding: 1em;
      }

      &-important {
        font-weight: 600;
      }

      &-lg,
      &-sm {
        background: $color--bgtable;
      }

      &-lg {
        width: 70%;
      }
    }

    &-payment {
      background: $color--bgtable;
      display: flex;
      flex-direction: column;
      margin: 1em 0;
      padding: 0 0.5em;
      @include media(desktop) {
        padding: 1em 1.5em;
      }

      &-paypal,
      &-cards {
        display: flex;
        flex-direction: row;

        input {
          width: 1em;
        }
        label {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 0 1em;
        }
      }

      &-validation {
        padding: 1em 0;
        text-align: justify;
        p {
          font-size: 1em;
        }

        &-sign {
          display: flex;
          flex-direction: row;
          margin: 1em 0;

          input {
            width: 1em;
          }
          label {
            width: 100%;
            padding: 1em 1em 0 1em;
            line-height: 1.3em;
          }
        }

        &-confirm {
          margin: 1em 0;
          button {
            width: 100%;
          }
          @include media(desktop) {
            display: flex;
            justify-content: flex-end;
            button {
              width: 20em;
            }
          }
        }
      }
    }
  }
}
