.checkout__container {
  width: 100%;
  padding-top: 3em;
  @include media(desktop) {
    padding-top: 0;
  }

  &-forms {
    @include media(desktop) {
      padding: 2em 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
    }
  }

  input,
  label {
    height: 3.5em;
    width: 100%;
  }

  &-form {
    display: flex;
    flex-direction: column;
    margin: 2em 1em;
    @include media(desktop) {
      margin: 2em 3em;
    }

    &-billing {
      display: flex;
      flex-direction: column;
      margin: 2em 0;
      border: 1px solid pink;
    }

    &-shipping {
      margin: 2em 0;
      border: 1px solid pink;

      &-title {
        border: 1px solid green;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 40em;
        @include media(desktop) {
        }

        input {
          height: 1em;
          width: 2em;
          margin-right: 1em;
        }
      }
    }

    h2 {
      padding: 1em 0;
      font-size: 1.5em;
      @include media(desktop) {
      }
    }

    &-names {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      @include media(sm-tablet) {
        justify-content: space-between;
      }
      @include media(lg-tablet) {
        justify-content: space-between;
        width: 35em;
      }
      @include media(desktop) {
        justify-content: space-between;
        width: 35em;
      }

      &-firstname {
        margin-right: 1em;
        @include media(sm-tablet) {
          width: 50%;
        }
        @include media(lg-tablet) {
          width: 50%;
        }
        @include media(desktop) {
          width: 50%;
        }
      }

      &-lastname {
        @include media(sm-tablet) {
          width: 50%;
        }
        @include media(lg-tablet) {
          width: 50%;
        }
        @include media(desktop) {
          width: 50%;
        }
      }
    }

    &-otherinfo {
      display: flex;
      flex-direction: column;
      label {
        padding-top: 1em;
      }
      @include media(lg-tablet) {
        width: 35em;
      }
      @include media(desktop) {
        width: 40em;
      }
    }
  }
}
