.productsheet__container {
  display: flex;
  flex-direction: column;
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    margin: 3em 3em 10em 3em;
    // border: 1px solid orange;
  }

  &-imgbox {
    @include media(desktop) {
      // border: 1px solid black;
      width: 50%;
    }

    img {
      width: 100%;
    }
  }

  &-infobox {
    padding: 0 0.5em;
    margin-bottom: 5em;

    @include media(desktop) {
      // border: 1px solid black;
      width: 50%;
      padding: 0 5em;
    }

    p {
      margin: 0 0.1em;
      @include media(desktop) {
        margin-bottom: 1em;
      }
    }

    &-price {
      color: #77a464;
      font-size: 1.25em;
    }

    &-stock {
      color: #77a464;
    }
  }
}
