.productsheet__container {
  display: flex;
  flex-direction: row;
  margin: 3em 3em 10em 3em;
  // border: 1px solid orange;

  &-imgbox {
    // border: 1px solid black;
    width: 50%;

    img {
      width: 100%;
    }
  }

  &-infobox {
    // border: 1px solid black;
    width: 50%;
    padding: 0 5em;

    p {
      margin-bottom: 1em;
    }

    &-price {
      color: #77a464;
      font-size: 1.25em;
    }

    &-stock {
      color: #77a464;
    }

    input[type="number"] {
      width: 100px;
    }
  }
}
