.productsheet__container {
  @include media(phone) {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 0 3em 0;
  }
  @include media(sm-tablet) {
    display: flex;
    align-items: center;
    padding: 3em;
  }
  @include media(lg-tablet) {
    display: flex;
    flex-direction: row;
    margin: 3em 3em 10em 3em;
  }
  @include media(desktop) {
    display: flex;
    flex-direction: row;
    margin: 3em 3em 10em 3em;
  }

  &-imgbox {
    @include media(phone) {
      width: 100%;
    }
    @include media(sm-tablet) {
      width: 75%;
    }
    @include media(lg-tablet) {
      width: 50%;
    }
    @include media(desktop) {
      width: 50%;
    }

    img {
      width: 100%;
    }
  }

  &-infobox {
    @include media(phone) {
      padding: 1em;
    }

    @include media(sm-tablet) {
      // margin: 2em 0 0 0;
    }

    @include media(lg-tablet) {
      width: 50%;
      padding: 0 5em;
    }

    @include media(desktop) {
      // border: 1px solid black;
      width: 50%;
      padding: 0 5em;
    }

    p {
      margin: 0 0.1em;
      @include media(desktop) {
        margin-bottom: 1em;
      }
    }

    &-price {
      color: #77a464;
      font-size: 1.25em;
    }

    &-stock {
      color: #77a464;
    }
  }
}
