.customerportal__container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  height: 100%;

  @include media(desktop) {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
  }

  &-navbar {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    position: fixed;
    bottom: 0;
    color: $color--black;
    @include media(desktop) {
      width: 50%;
      line-height: 2.5em;
    }

    &-item {
      display: flex;
      flex-direction: column;
      width: auto;
      border: 1px solid green;
    
      span {
          font-size: 1em;
      }
    }
  }

  &-window {
    width: 100%;
    height: 100vh;
    padding: 0 2em;
    border: 1px solid orange;
    line-height: 2.5em;
    @include media (desktop) {

    }

  }
}

.commandes__container {
    border: 1px solid black;
}
