.customerportal__container {
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // width: 100%;
  // height: 100%;

  // @include media(desktop) {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   align-items: flex-start;
  //   width: 100%;
  //   padding: 2em;
  //   border: 1px solid green;
  // }

  // &-navbutton {
  //   position: relative;
  //   width: 10em;
  // }

  // &-navbar {
  //   display: flex;
  //   flex-direction: row;
  //   justify-content: space-between;
  //   border: 1px solid black;
  //   // position: fixed;
  //   bottom: 0;
  //   width: 100%;
  //   color: $color--black;
  //   padding: 0.2em;

  //   @include media(desktop) {
  //     display: flex;
  //     flex-direction: column;
  //     // justify-content: flex-start;
  //     width: 12em;
  //     line-height: 2.5em;
  //     border: 1px solid yellow;
  //   }

  //   &-item {
  //     display: flex;
  //     flex-direction: column;
  //     align-items: center;
  //     width: 100%;
  //     padding: 0.3em;
  //     //   border: 1px solid green;
  //     @include media(desktop) {
  //       display: flex;
  //       flex-direction: row;
  //       justify-content: flex-start;
  //       align-items: fle;
  //       border: 1px solid red;
  //     }
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: flex-start;
  //     align-items: center;
  //     &-icon {
  //       font-size: 1.3em;
  //       @include media(desktop) {

  //         margin-right: 0.5em;
  //         border: 1px solid red;
  //       }
  //     }

  //     span {
  //       text-align: center;
  //       font-size: 0.8em;
  //       @include media(desktop) {
  //         font-size: 1em;
  //         line-height: 1.8em;
  //         text-align: start;
  //         padding-right: 0.5em;
  //         border: 1px solid red;
  //       }
  //     }
  //   }
  // }

  &-window {
    width: 100%;
    height: 100vh;
    padding: 0;
    overflow: auto;
    border: 1px solid green;

    @include media(desktop) {
    }

    &-header {
      width: 100%;
      font-size: 1.5em;
      text-align: center;
      padding: 0.5em 0;
      @include media(desktop) {
        font-size: 2em;
        padding: 1em 0;
      }

      h2 {
        width: 100%;
      }
    }
  }

  &-dashboard {
    font-size: 0.8em;
    padding: 1em 0 0 0;
    text-align: center;

    @include media(desktop) {
      font-size: 1em;
    }
    &-main {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 2em 0;
      @include media(desktop) {
        flex-direction: row;
        padding: 0;
      }

      &-orders,
      &-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 2em;
        padding: 2em;
        margin: 1em 2em;
        border: 1px solid $color--brinput;
        border-radius: 0.5em;
        width: 30em;
        @include media(desktop) {
          justify-content: space-evenly;
          margin: 3em 5em;
          width: 20em;
          height: 20em;
        }

        p {
          font-size: 1.2em;
          text-align: center;
        }
      }
    }
  }
}

.commandes__container {
  border: 1px solid black;
}

.detailscompte__container {
  width: 100%;
  padding-top: 3em;
  @include media(desktop) {
    padding-top: 0;
  }

  input,
  label {
    width: 100%;
    height: 3.5em;
  }

  &-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include media(desktop) {
    }

    h2 {
      padding: 1em 0;
    }

    &-names {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      @include media(sm-tablet) {
        justify-content: space-between;
        align-items: center;
      }
      @include media(lg-tablet) {
        justify-content: space-between;
        align-items: center;
      }
      @include media(desktop) {
        justify-content: space-between;
        align-items: center;
        // width: 35em;
      }
    }
    &-field {
      margin: 0 0.5em;
      @include media(sm-tablet) {
        width: 50%;
      }
      @include media(lg-tablet) {
        width: 50%;
      }
      @include media(desktop) {
        width: 50%;
      }
    }

    &-otherinfo {
      display: flex;
      flex-direction: column;
      label {
        padding-top: 1em;
      }
      @include media(sm-tablet) {
        flex-direction: row;
        width: 100%;
      }
      @include media(lg-tablet) {
        flex-direction: row;
        width: 100%;
      }
      @include media(desktop) {
        flex-direction: row;
        width: 100%;
      }
    }

    .submit-button {
      margin: 1em 0;
      width: 20em;
    }

    &-addresses,
    &-passwordupdate {
      margin: 3em 0 1em 0;
      padding: 1em 0;
      border: 1px solid $color--brinput;
      display: flex;
      flex-direction: column;
      align-items: center;

      input,
      label {
        width: 98%;
      }

      label {
        padding-top: 1em;
      }

      &-billing,
      &-shipping {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        @include media(desktop) {
          padding-right: 0.5em;
        }

        &-header {
          padding: 1em 0;
          text-transform: uppercase;
        }

        &-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          padding: 3em 0;
          border: 1.5px solid #ffffff;
          background-color: $color--blue;
          color: #ffffff;
          p {
            font-size: 0.9em;
            font-weight: 500;
            text-align: center;
          }

          &-name {
            display: flex;
            flex-direction: row;
            p {
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
