$color--red: #e41515;
$color--blue: #1e487d;
$color--black: #444444;
$color--links: #1bb0ce;
$color--brinput: #d3ced2;
$color--bginput: #e8f0fe;
$color--bgtable: #f3f3f3;

@mixin media($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }

  @if $breakpoint == sm-tablet {
    @media only screen and (min-width: 768px) and (max-width: 979px) {
      @content;
    }
  }

  @if $breakpoint == lg-tablet {
    @media only screen and (min-width: 980px) and (max-width: 1024px) and (max-height: 1366px)  {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
}
