input[type='number'] {
  font-size: 1em;
  width: 3em;
  height: 2.2em;
  margin: 0 0.5em 0 0;
}

.submit-button {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  background: $color--red;
  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1em;
  cursor: pointer;
}

.edit-item {
  width: auto;
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 1em;
  color: $color--black;
  background: none;
  border: 1px solid $color--black;
  border-radius: 0.2em;
  padding: 0.4em 0em;
  cursor: pointer;
}

.cross-button {
  background: $color--red;
  color: #ffffff;
  width: 2em;
  height: 2em;
  border: #ffffff;
  border-radius: 1em;
  font-family: 'Poppins';
  font-weight: 700;
  margin: 0.5em 0;
}

.password-toggle-icon {
  position: absolute;
  z-index: 99;
  margin-right: 0.5em;
  cursor: pointer;
}

// modal styles
.Modal {
  position: absolute;
  top: 25px;
  left: 20px;
  right: 20px;
  bottom: 25px;
  background-color: #ffffff;
  overflow: auto;
  padding: 0 1em;

  @include media(sm-tablet) {
    top: 10em;
    left: 10em;
    right: 10em;
    bottom: 10em;
  }

  @include media(lg-tablet) {
    top: 15em;
    left: 15em;
    right: 15em;
    bottom: 15em;
  }

  @include media(desktop) {
    top: 5em;
    left: 48em;
    right: 48em;
    bottom: 5em;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.75);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1040;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
  display: flex;
  align-items: center;
}

.modal {
  z-index: 100;
  background: #fff;
  position: relative;
  margin: auto;
  border-radius: 5px;
  max-width: 500px;
  width: 80%;
  padding: 1rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
  border: none;
  background: transparent;
}
