input[type="number"] {
  font-size: 17px;
  width: 3em;
  height: 2.2em;
  margin: 0 0.5em 0 0;
}

.submit-button {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 17px;
  color: #ffffff;
  background: $color--red;
  border: none;
  border-radius: 0.2em;
  padding: 0.4em 1em;
}

.required {
  color: #FF0000;
  font-size: 1.2em;
  margin-left: 0.5em;
}


