.subheader__container {
  background: $color--blue;
  padding: 0 0 5em 3em;
  color: #ffffff;

  &-titlebox {
  }
  &-breadcrumbbox {
    display: flex;
    flex-direction: row;
    padding: 2em 0 0 1em;
  }
}
